@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Poetsen+One&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poetsen One", sans-serif;
}
.main {
  max-width: 500px;
  min-height: max-content;
  border: 1px solid black;
  padding: 43px 131px;
  background-color: burlywood;
}
.main h1 {
  text-align: center;
}
.input-btn {
  display: flex;

  max-width: max-content;
  border-radius: 5px;
}
.input-btn input {
  outline: none;
  width: 400px;
  height: 54px;
  font-size: 32px;
}
.input-btn button {
  font-size: 22px;
  padding: 6px 29px;
}
/* INPUT & BUTTON DONE */

/* OUTPUT & DELETE BUTTON */
.container-message-box {
  width: 600px;
  cursor: pointer;

  margin-left: 61px;
  font-size: 35px;
}

.fa-solid {
  cursor: pointer;
  font-weight: 900;
  font-family: "Poetsen One", sans-serif;
  margin-left: 135px;
  margin-top: 58px;
  font-size: 22px;
  padding: 18px;
  background-color: antiquewhite;
  border-radius: 6px;
}
